.app {
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
  margin: auto;
}

.header {
  /* temp margin to move below the test suite */
  /* in narrow window ! REMOVE ! */
  margin-top: 220px; 
  /* remove above */
  
  
  text-align: center;
}

.panel-container {
  /* background-color: #eee; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}