$lcd-off: #020;
$lcd-on: #4b4;
$background: #111;
$buttons-background: #333;
$red-inactive: #482b2b;
$gren-inactive: #2b482b;
$led-red: #b44;
$led-green: #4b4;
$regular-button: 80px;
$large-button: 120px;
$text-color: #999;

.round-button {
  background-color: $buttons-background;
  border-radius: 100%;
}
.round-button:focus {
  // border-color:transparent!important;
  outline:none;
}

.large {
  height: $large-button;
  width: $large-button;
  font-size: $large-button *.40;
}

.regular {
  height: $regular-button;
  width: $regular-button;
  font-size: $regular-button * .45;
}

.reset-text-size {
  font-size: 50px;
}

.play-stop-text-size {
  font-size: 25px;
}

.text-color {
  color: $text-color;
}

.off-the-screen {
  position: fixed;
  top: -100px
}

