@import './common.scss';
@import url(https://allfont.net/allfont.css?fonts=digital-7-mono);



.display-background {
  font-family: 'Digital-7 Mono', arial;
  color: $lcd-off;
  position: relative;
  margin: 0 auto;
  text-align: right;
}

.display-foreground {
  color: $lcd-on;
  position: absolute;
  top: 0;
  width: 100%;
}