@import './common.scss';

@font-face {
  font-family: 'Digital-7 Mono';
  src: local('Digital-7 Mono'), url(./fonts/digital-7-mono.woff) format('woff');
}



.display-background {
  font-family: 'Digital-7 Mono', arial;
  color: $lcd-off;
  position: relative;
  margin: 0 auto;
  text-align: right;
}

.display-foreground {
  color: $lcd-on;
  position: absolute;
  top: 0;
  width: 100%;
}