@import './common.scss';

.timer-length-panel {
  /* remove */
  background-color: $background;
  
  width: 40%;
}

h1 {
  text-align: center;
  margin: 0 auto 0
}

.buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.panel-font-size {
  font-size: 100px;
}