@import './common.scss';

.timer-display {
  background-color: $background;
  margin-top: 10px;
}

h2 {
  text-align: center;
}

.time-left-size {
  font-size: 150px;
}

.flex-space-around {
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
}

.session-break {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.half-width {
  width: 50%;
  justify-content: center;
  text-align: center;
}

.session-break-on {
  color: $lcd-on;
}

.session-break-off {
  color: $lcd-off;
}

.text-invisible {
  color: $background;
}

.led-padding {
  padding:4px;
}

.pause-led-off {
  color: $red-inactive;
}

.pause-led-on {
  color: $led-red;
}

.play-led-off {
  color: $gren-inactive;
}

.play-led-on {
  color: $led-green;
}



@media (orientation: landscape) {
  
}

@media (orientation: portrait) {

  #start_stop {
    order: 1;
    flex-basis: $large-button;
  }

  #reset {
    order: 1;
    flex-basis: $large-button;

  }

  #br {
    flex-basis: 100%;
  }

  #time-left {
    order: 2;
  }

  .flex-space-around {
    flex-wrap: wrap;
  }
}

@media only screen and (max-device-width : 640px) {
  #br {
    height: 50px;
  }
}